<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>AppLaunchAnimation.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>324E5A8E1CFC492300ACDAEB</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>324E5AA71CFC492300ACDAEB</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>324E5AB21CFC492300ACDAEB</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
